@model IEnumerable<Category>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">CategoryName</th>
            <th scope="col">Description</th>
            <th scope="col">ImageLink</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
        <tr>
            <td>@category.CategoryName</td>
            <td>@category.Description</td>
            <td><a class="alert-link" asp-controller="Category" asp-route-id="@category.CategoryID" asp-action="Picture">picture</a></td>
        </tr>
        }
    </tbody>
</table>