@model Task1.ViewModels.CategoryView

<form enctype="multipart/form-data" asp-action="PictureEdit">
    <input type="text" asp-for="CategoryID" class="form-control" hidden />
    <input asp-for="FormFile" type="file" />
    <input class="btn btn-primary" type="submit" />
</form>