@model Task1.ViewModels.Product.ProductView

@{
    ViewData["Title"] = ViewBag.Title;
    var btnText = ViewBag.Title;
}

<p>@ViewBag.Title</p>

<form asp-controller="Product" asp-action="Edit">

    <div class="form-group">

        <div asp-validation-summary="All" class="text-danger"></div>

        <input type="text" asp-for="ProductID" class="form-control" hidden />

        <label asp-for="ProductName" class="form-label">ProductName</label>
        <input type="text" asp-for="ProductName" class="form-control" />
        <br />

        <label asp-for="QuantityPerUnit" class="form-label">QuantityPerUnit</label>
        <input type="text" asp-for="QuantityPerUnit" class="form-control" />
        <br />

        <label asp-for="UnitPrice" class="form-label">UnitPrice</label>
        <input type="text" asp-for="UnitPrice" class="form-control" />
        <br />

        <label asp-for="UnitsInStock" class="form-label">UnitsInStock</label>
        <input type="text" asp-for="UnitsInStock" class="form-control" />
        <br />

        <label asp-for="UnitsOnOrder" class="form-label">UnitsOnOrder</label>
        <input type="text" asp-for="UnitsOnOrder" class="form-control" />
        <br />

        <label asp-for="ReorderLevel" class="form-label">ReorderLevel</label>
        <input type="text" asp-for="ReorderLevel" class="form-control" />
        <br />

        <label asp-for="Discontinued" class="form-label">Discontinued</label>
        <input type="text" asp-for="Discontinued" class="form-control" />
        <br />

        <label asp-for="CategoryID" class="form-label">Categories</label>
        <select asp-for="CategoryID" class="form-select form-select" aria-label="Default select example">
            @{
                foreach (var category in ViewBag.Categories)
                {
                    <option value=@category.CategoryID>@category.CategoryName</option>
                }
            }
        </select>
        <br />

        <label asp-for="SupplierID" class="form-label">Suppliers</label>
        <select asp-for="SupplierID" class="form-select form-select" aria-label="Default select example">
            @{
                foreach (var supplier in ViewBag.Suppliers)
                {
                    <option value=@supplier.SupplierID>@supplier.CompanyName</option>
                }
            }
        </select>
        <br />

        <button type="submit" class="btn btn-primary">@btnText</button>
    </div>
</form>
